@tailwind base;
@tailwind components;
@tailwind utilities;

.header-middle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
};
.nav-middle{
  font-family:   Arial, Helvetica, sans-serif;

};
.hero-1{
    font-family: Arial, Helvetica, sans-serif;
};
.new-hero{
  font-family: Arial, Helvetica, sans-serif;
};
.login-1{
  font-family: Arial, Helvetica, sans-serif;
};

